<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursion Hub</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="/public/css/prisum.css"> -->
<style>
    div.item div{
        margin-top: 5px;
    }
    div.item{
        border: 1px solid #a8a8a8;
        padding: 5px;
        border-radius: 10px;
    }
    div.item .btn{
        margin-top: 5px;
    }
    div.item div.row{
        display: flex;
    }
</style>
<body>
    <nav style="border-bottom:1px dashed black ;" id="top" class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/public/RCHUB.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Recursion Hub
            </a>
        <div class="d-flex" role="search">
            <input onkeyup="SetList(event)" class="form-control me-2 input" type="search" placeholder="Search" aria-label="Search">
        </div>
        </div>
    </nav>
        <h3 style="padding: 5px;"> Count of Programs: <span class="count">0</span></h3>
        <hr>
        <div class="container-list" style="max-width: 500px;margin:auto;">
            <!-- <div class="item">

                <div class="row">
                    <h3>Name</h3>
                <a href="#">Github</a>
                <a href="#">Website</a>
            </div>
            
            <div>Problem:</div>
            <div>Description:</div>
            <div>Explain:</div>
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Code
                </a>
                
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <pre><code class="language-css"></code></pre>
                </div>
            </div> -->
        </div>
    </div>
    <!--  -->
    <a style="left:5px;bottom:5px;position:fixed;" class='bot' href="#top"><img width="20px" class='top' src="/public/top.png" alt="Back to Top" ></a>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<script src="/public/js/index.js"></script>
<!-- <script src="/public/js/prisum.js"></script> -->

</html>