<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursion Hub</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="/public/css/prisum.css">
<style>

    .container,.row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .row{
        flex-direction: row;
    }
    .item{
        width: 90%;
        margin: 1rem;
    }
    @media (max-width:1024px) {
  .item{
    width: 98vw;
    margin: auto;
    padding: 20px;
  }
}​
    .item > *{
        padding: .4rem 0;
    }
</style>

<body>

    <div class="container">
        <h1>Recursion Hub</h1>
       <div> Count: <span class="count">0</span></div>
       <div class="input-group mb-3">
        <input type="text"  class="input form-control" onkeyup="SetList(event)" placeholder="Find Problem">
      </div>
        <div class="container-list">
            <div class="item">

                <div class="row">
                    <h3>Name</h3>
                <a href="#">Github</a>
                <a href="#">Website</a>
            </div>
            
            <div>Problem:</div>
            <div>Description:</div>
            <div>Explain:</div>
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Code
                </a>
                
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <pre><code class="language-css"></code></pre>
                </div>
            </div>
        </div>
            
            
        </div>

    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/prisum.js"></script>
</html>